.banner{
    width: 100px;
    height: 6px;
    background-color: var(--green);
    margin-top: 2px;
}

.title{
    font-weight: bold;
    color: rgb(87, 87, 87);
    font-family: var(--title-family);
}