:root {
  --green: #26AB9D;
  --text: #686565;
  --black2:#5C6A68;
  --black: black;
  --title-family: 'Yantramanav', sans-serif;
  --text-family: 'OpenSans', sans-serif;
  --purple: #5A07C7;
  --orange: #F08F76;
  --hero-bg: #EFF3FA;
  --padding: 0.5rem
}

@font-face {
  font-family: 'OpenSans';
  src: url('./fonts/Sansation_Light.ttf');
  font-weight: 400;
  font-style: normal;
}

/* font-family: 'Yantramanav', sans-serif || 'OpenSans', sans-serif; */

.MuiTabPanel-root{
  padding: 1rem 0 !important;
}

.Collapsible__contentOuter{
  transition: height 0.2s linear 0s !important;
}

html,
body {
padding: 0;
margin: 0;
font-family: 'OpenSans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

