@font-face {
  font-family: 'OpenSans';
  src: url('./fonts/Sansation_Light.ttf');
  font-weight: 400;
  font-style: normal;
}

html,
body {
  padding: 0;
  /* margin: 10px; */
font-family: 'OpenSans', sans-serif;
/* font-weight: 100; */


}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button{
  font-family: 'Yantramanav', sans-serif !important;
  font-weight: 100;
  font-size: 50px;

}
